<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.js"></script>

</head>
<body>
   <style>
    /*STYLE DE PRODUTOS*/
    .form {
      display: flex;
    }

    .form .section {
      flex-grow: 1;
      flex-direction: column;
      padding: 10;
    }

    .form .section .control-group {
      width: 100%;
    }

    .form .section .control-group{
      display: block;
      width: 100%;
    }

    input, select{
      border: 1px solid #B2B2B2;
      box-sizing: border-box;
      border-radius: 3px;
      box-shadow: 0.5px 0.5px 0.5px rgb(178, 178, 178);
      background-color: white;
      width: 215px;
      height: 25px;
      display: inline-block;
      margin-left: 10px;
      font-size: 13px;
    }

    .fonte, select, option{ 
      font-size: 13px;
    }

    input:focus, select:focus, textarea:focus{ 
      outline: none !important;
      border: 1px solid rgba(177, 229, 250, 1);
      box-shadow: inset 0 0 4px rgba(177, 229, 250, 1);
    }

    option:hover{
      color: rgba(177, 229, 250, 1);
    }

    label{
      color: rgba(0, 0, 0, 0.82);
      font-size: 4mm;
      margin-top: 15px;
      margin-bottom: 0px;
      margin-left: 10px;
      display: inline-block;
    }

    #quantidade{
      margin-left: 156px;
    }

    #qtdMaxima{
      margin-left: 92px;
    }

    #precoVenda{
      margin-left: 120px;
    }

    #pesoBruto{
      margin-left: 137px;
    }

    #marca-label{
      margin-left: 112px;
    }

    #cad{
      background: linear-gradient(180deg, rgb(143, 198, 242) 0%, rgba(131, 187, 209, 0.44) 119.05%);
      border-radius: 5px;
      border-color: rgb(143, 198, 242);
      font-weight: bolder;
    }

    #can{
      background: rgb(194, 194, 194);
      border-radius: 5px;
      border-color: rgb(194, 194, 194);
      font-weight: bolder;
    }
    .modal{
      background-color: rgba(177, 229, 250, 0.74);
    }

    #codBarrasInput{
      width: 260px;
    }

    #codBarras{
      display: block;
    }

    .modal-dialog{
      border-radius: 5px;
    }

    h4{
      color: rgba(0, 0, 0, 0.7);
      font-weight: bold;
      margin-left: auto;
    }

    .botaoProd{
      border-radius: 3px;
      background: linear-gradient(180deg, rgb(143, 198, 242) 0%, rgba(131, 187, 209, 0.44) 119.05%);
      border: transparent;
      width: 12px;
      height: 12px;
    }

    #nvAcessoLabel{
      margin-left: 185px;
    }

    #email{
      margin-left: 169px;
    }

    #senha{
      margin-left: 188px;
    }

    textarea{
      border: 1px solid #B2B2B2;
      box-sizing: border-box;
      border-radius: 3px;
      box-shadow: 0.5px 0.5px 0.5px rgb(178, 178, 178);
      background-color: white;
      width: 445px;
      height: 80px;
      display: inline-block;
      margin-left: 10px;
      font-size: 13px;
    }

    #telefoneLabel{
      margin-left: 184px;
    }

    #valor{
      margin-left: 195px;
    }

    #ultimaCompra{
      margin-left: 150px;
    }

    .buttonModal{
      background: linear-gradient(180deg, rgb(143, 198, 242) 0%, rgba(131, 187, 209, 0.44) 119.05%);
      border-radius: 5px;
      border-color: rgb(143, 198, 242);
      font-weight: bolder;
      border: none;
    }
  </style>

    <!--MODAL PRODUTO-->

    <button type="button" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#modalProduto">
        Cadastrar Produto
      </button>
      
      <div class="modal fade" id="modalProduto" tabindex="-1" role="dialog" aria-labelledby="modalProdutoTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="modalProdutoLongTitle" id="tituloProd">Cadastro de Produtos</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                    <form class="form" action="/modais" method="POST">
                      <div class="section">
                        <div class="control-group">
                          <label class="control-label" for="codBarras" id="codBarras">Código de Barras</label>
                         <input class="control" type="text" id="codBarrasInput">
                        </div>
    
                        <div class="control-group">
                          <label class="control-label" for="descricao">Descrição</label>
                          <label class="control-label" for="quantidade" id="quantidade">Quantidade</label>
                        </div>
                        
                        <div class="control-group">
                          <input class="control" type="text">
                          <input class="control" type="number" min="0" max="10000">
                        </div>
    
                        <div class="control-group">
                          <label class="control-label" for="qtdMinima">Quantidade Mínima</label>
                          <label class="control-label" for="qtdMaxima" id=qtdMaxima>Quantidade Máxima</label>
                        </div>
                        
                        <div class="control-group">
                          <input class="control" type="number" min="0" max="">
                          <input class="control" type="number" min="0" max="10000">
                        </div>
    
                        <div class="control-group">
                          <label class="control-label" for="precoCusto">Preço de Custo</label>
                          <label class="control-label" for="precoVenda" id="precoVenda">Preço de Venda</label>
                        </div>
                        
                        <div class="control-group">
                          <input class="control" type="number" min="0.00" max="10000.00" step="0.01">
                          <input class="control" type="number" min="0.00" max="10000.00" step="0.01">
                        </div>
    
                        <div class="control-group">
                          <label class="control-label" for="pesoLiquido">Peso Líquido</label>
                          <label class="control-label" for="pesoBruto" id="pesoBruto">Peso Bruto</label>
                        </div>
                        
                        <div class="control-group">
                          <input class="control" type="text">
                          <input class="control" type="text">
                        </div>
    
                        <div class="control-group">
                          <label class="control-label" for="categoria">Categoria</label>
                          <button class="botaoProd"></button>
                          <button class="botaoProd"></button>
                          <button class="botaoProd"></button>
                          <label class="control-label" for="marca" id="marca-label">Marca</label>
                          <button class="botaoProd"></button>
                          <button class="botaoProd"></button>
                          <button class="botaoProd"></button>
                        </div>
                        
                        <div class="control-group">
                          <select class="control fonte" name="categoria" id="categoria">
                            <option value="graos">Grãos</option>
                            <option value="Frutas">Frutas</option>
                            <option value="Bebidas">Bebidas</option>
                          </select>
                          <select class="control fonte" name="marca" id="marca">
                            <option value="yoki">Yoki</option>
                            <option value="frutas">Frutas</option>
                            <option value="sufresh">SuFresh</option>
                          </select>
                        </div>
    
                        <div class="control-group">
                          <label class="control-label" for="medida" id="medida">Medida</label>
                          <button class="botaoProd"></button>
                          <button class="botaoProd"></button>
                          <button class="botaoProd"></button><br>
                          <select class="control fonte" name="medida" id="medida">
                            <option value="kg">KG</option>
                            <option value="litro">LTS</option>
                            <option value="metro">M</option>
                          </select>
                        </div>

                      </div> <!----final div section---->
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" id="can" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" id="cad" class="btn btn-primary">Cadastrar</button>
                </div>
              </div>
            </div>
          </div>


        <!-- MODAL USUARIO---> 

        <button type="button" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#modalUsuario">
          Cadastrar Usuário
        </button>
        
            <div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="modalUsuarioTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="modalUsuarioLongTitle" id="tituloUsuario">Cadastro de Usuários</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
  
                  <div class="modal-body">
                      <form class="form" action="/modais" method="POST">
                        <div class="section">
      
                          <div class="control-group">
                            <label class="control-label" for="nome">Nome</label>
                            <label class="control-label" for="nivelAcesso" id="nvAcessoLabel">Nível de Acesso</label>
                          </div>
                          
                          <div class="control-group">
                            <input class="control" type="text" required>
                            <select class="control fonte" name="nvAcesso" id="nvAcesso">
                              <option value="adm">Administrador</option>
                              <option value="opCaixa">Operador de Caixa</option>
                            </select>
                          </div>
      
                          <div class="control-group">
                            <label class="control-label" for="telefone">Telefone</label>
                            <label class="control-label" for="email" id=email>E-mail</label>
                          </div>
                          
                          <div class="control-group">
                            <input class="control" type="text">
                            <input class="control" type="email">
                          </div>
      
                          <div class="control-group">
                            <label class="control-label" for="login">Login</label>
                            <label class="control-label" for="senha" id="senha">Senha</label>
                          </div>
                          
                          <div class="control-group">
                            <input class="control" type="text">
                            <input class="control" type="password">
                            <span class="lnr lnr-eye"></span>
                          </div>
  
                        </div> <!----final div section---->
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="can" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="cad" class="btn btn-primary">Cadastrar</button>
                  </div>
                </div>
              </div>
            </div> 


        <!-- MODAL CLIENTE---> 

        <button type="button" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#modalCliente">
          Cadastrar Cliente
        </button>

            <div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="modalClienteTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="modalClienteLongTitle" id="tituloCliente">Cadastro de Clientes</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                      <form class="form" action="/modais" method="POST">
                        <div class="section">

                          <div class="control-group">
                            <label class="control-label" for="nome">Nome</label>
                            <label class="control-label" for="telefone" id="telefoneLabel">Telefone</label>
                          </div>
                          
                          <div class="control-group">
                            <input class="control" type="text" required>
                            <input class="control" type="text" required>
                          </div>

                          <div class="control-group">
                            <label class="control-label" for="cpf">CPF</label>
                            <label class="control-label" for="valor" id=valor>Valor</label>
                          </div>
                          
                          <div class="control-group">
                            <input class="control" type="text">
                            <input class="control" type="number" min="0.00" max="10000.00" step="0.01">
                          </div>

                          <div class="control-group">
                            <label class="control-label" for="pagamento">Pagamento</label>
                            <label class="control-label" for="ultimaCompra" id="ultimaCompra">Última Compra</label>
                          </div>
                          
                          <div class="control-group">
                            <input class="control" type="date">
                            <input class="control" type="date">
                          </div>

                          <div class="control-group">
                            <label class="control-label" for="observacao">Observação</label>
                          </div>

                          <div class="control-group">
                            <textarea></textarea>
                          </div>

                        </div> <!----final div section---->
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="can" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="cad" class="btn btn-primary">Cadastrar</button>
                  </div>
                </div>
              </div>
            </div>

            
            
            <!--MODAL CADASTRO DE CATEGORIA-->
            <button type="button" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#modalCadCategoria">
              Cadastrar Categoria
            </button>

                <div class="modal fade" id="modalCadCategoria" tabindex="-1" role="dialog" aria-labelledby="modalCategoriaTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="modalCategoriaLongTitle" id="tituloCategoria">Cadastro de Categorias</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
    
                      <div class="modal-body">
                          <form class="form" action="/modais" method="POST">
                            <div class="section">
    
                              <div class="control-group">
                                <label class="control-label" for="nome">Categoria</label>
                              </div>
                              
                              <div class="control-group">
                                <input class="control" type="text" required>
                              </div>
        
                            </div> <!----final div section---->
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="can" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="cad" class="btn btn-primary">Cadastrar</button>
                      </div>
                    </div>
                  </div>
                </div>


            <!--MODAL CADASTRO DE MARCA-->
            <button type="button" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#modalCadMarca">
              Cadastrar Marca
            </button>

                <div class="modal fade" id="modalCadMarca" tabindex="-1" role="dialog" aria-labelledby="modalMarcaTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="modalMarcaLongTitle" id="tituloMarca">Cadastro de Marcas</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
    
                      <div class="modal-body">
                          <form class="form" action="/modais" method="POST">
                            <div class="section">
    
                              <div class="control-group">
                                <label class="control-label" for="nome">Marca</label>
                              </div>
                              
                              <div class="control-group">
                                <input class="control" type="text" required>
                              </div>
        
                            </div> <!----final div section---->
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="can" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="cad" class="btn btn-primary">Cadastrar</button>
                      </div>
                    </div>
                  </div>
                </div>


            <!--MODAL CADASTRO DE MEDIDAS-->
            <button type="button" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#modalCadMedida">
              Cadastrar Medida
            </button>

                <div class="modal fade" id="modalCadMedida" tabindex="-1" role="dialog" aria-labelledby="modalMedidasTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="modalMedidaLongTitle" id="tituloMedida">Cadastro de Medidas</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
    
                      <div class="modal-body">
                          <form class="form" action="/modais" method="POST">
                            <div class="section">
    
                              <div class="control-group">
                                <label class="control-label" for="medida">Medida</label>
                              </div>
                              
                              <div class="control-group">
                                <input class="control" type="text" required>
                              </div>
        
                            </div> <!----final div section---->
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="can" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="cad" class="btn btn-primary">Cadastrar</button>
                      </div>
                    </div>
                  </div>
                </div>

      <script src="../static/js/bootstrap.min.js"></script>
      <script src="../static/js/bootstrap.js"></script>
      <script src="../static/js/jquery.js"></script>
      <script src="../static/js/popper.js"></script>

</body>
</html>